#rank {
    -fx-background-color: rgba(0, 0, 0, 0.1);
    -fx-background-radius: 20;
    -fx-background-insets: -10;
    -fx-padding: 20;
    -fx-max-height: 400;
}
#rank_name {
    -fx-background-color: rgba(200, 200, 200, 0.3);
    -fx-padding: 7;
    -fx-background-insets: 2;
    -fx-background-radius: 20;
    -fx-font-size: 20;
    -fx-text-fill: rgb(255, 255, 255);
}
#rank_info {
    -fx-background-color: rgba(200, 200, 200, 0.3);
    -fx-padding: 7;
    -fx-background-insets: 2;
    -fx-background-radius: 20;
    -fx-font-size: 20;
    -fx-text-fill: rgb(255, 255, 255);
}
#rank_info .text{
    -fx-stroke: green;
}
#rank_level {
    -fx-font-size: 20;
    -fx-padding: 7;
    -fx-background-insets: 2;
    -fx-background-color: rgba(200, 200, 200, 0.3);
    -fx-background-radius: 20;
    -fx-text-fill: rgb(255, 255, 255);
}

#rank_money {
    -fx-font-size: 20;
    -fx-background-color: rgba(200, 200, 200, 0.3);
    -fx-padding: 7;
    -fx-background-insets: 2;
    -fx-background-radius: 20;
    -fx-text-fill: rgb(255, 255, 255);
}
#rank_ {
    -fx-alignment: center;
    -fx-padding: 5;
    -fx-border-color: rgb(200, 200, 200);
    -fx-border-width: 2;
    -fx-border-radius: 20;
}
#rank_name .text {
    -fx-stroke: blue;
}

#rank_money .text {
    -fx-stroke: gold;
}

#rank_level .text {
    -fx-stroke: red;
}
#sender {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-insets: -10 -10 -10 -10;
    -fx-background-radius: 30;

}

#message {
    -fx-text-fill: rgb(255, 255, 255);
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-background-insets: -10 -10 -10 -10;
    -fx-background-radius: 30;
}

#sender .text {
    -fx-text-fill: unset;
    -fx-font-family: "Comic Sans MS";
    -fx-font-weight: bold;
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

#message .text {
    -fx-font-family: "Comic Sans MS";
    -fx-stroke: gray;
    -fx-stroke-width: 1;
}

#inputBox {
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 18;
    -fx-padding: 1, 1, 1, 1;
    -fx-border-color: grey;
    -fx-border-width: 2;
    -fx-border-radius: 20;
    -fx-border: gone;
    -fx-background-color: transparent;
    -fx-background-radius: 20;
    -fx-text-fill: rgb(200,200,200);
    -fx-alignment: center;
}
#emoji {
    -fx-text-fill: yellow;
}
#emoji .text {
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}
#chat_field {
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 18;
    -fx-padding: 5, 5, 5, 5;
    -fx-border-color: grey;
    -fx-border-width: 2;
    -fx-border-radius: 20;
    -fx-border: gone;
    -fx-background-color: rgba(100,100,100, 0.7);
    -fx-background-radius: 20;
    -fx-text-fill: rgb(235,230,230);
}
#inputBox:focused {
    -fx-background-color: rgba(100,100,100,0.5);
}

#input {

}

#chat {
    -fx-background-color: transparent;
    -fx-padding: 10;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: rgba(50, 50, 50, 0.5);
    -fx-background-radius: 30;
    -fx-padding: 20;
}

.scroll-pane > .corner {
    -fx-background-color: transparent;
}


#chatbox {

}

.label {
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-font-family: "Comic Sans MS";
}

.label .text {
    -fx-stroke: lightblue;
    -fx-stroke-width: 1px;
}

#pop {
    -fx-padding: 10;
    -fx-text-fill: white;
    -fx-font-size: 30;

    -fx-background-color: rgba(50, 50, 50, 0.7);
    -fx-background-radius: 30 30 30 30;

    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 30 30 30 30;
}

#pop .text {
    -fx-stroke: firebrick;
    -fx-stroke-width: 2px;
}

#popVBox {
    -fx-padding: 10;
    -fx-text-fill: white;
    -fx-font-size: 30;

    -fx-background-color: rgba(203, 141, 79, 0.7);
    -fx-background-radius: 30 30 30 30;

    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 30 30 30 30;
}

#popVBox .label {
    -fx-padding: 10;
    -fx-text-fill: white;
    -fx-font-size: 40;
}

#popVBox .text {
    -fx-stroke: firebrick;
    -fx-stroke-width: 2px;
}

#pop_stackPane {
}

#tutorial {
    -fx-text-fill: blue;
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-background-radius: 30;
    -fx-padding: 10;
}

#tutorial .text {
    -fx-stroke: #F0E68C;
    -fx-stroke-width: 1px;
}

#levelFlowPane {
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-background-radius: 30;
    -fx-padding: 10 10 10 10;
}

#name {

}

#capacity {
}

#capacity .text {
    -fx-stroke: orange;
}

#intro {
    -fx-font-size: 50;
}

#intro .text {
    -fx-stroke: green;
    -fx-stroke-width: 2px;
}

#buyAnimal {
    -fx-padding: 5;
    -fx-text-alignment: center;
    -fx-text-fill: white;
    -fx-font-size: 11;
    -fx-font-family: "Comic Sans MS";
}

#null {
    -fx-background-color: transparent;
    -fx-opacity: 1;
    -fx-padding: 0;


}

#buyAnimal .text {
    -fx-alignment: center;
    -fx-stroke: #F0E68C;
    -fx-stroke-width: 1px;
}

#gold {
}

#gold .text {
    -fx-stroke: yellow;
    -fx-stroke-width: 1px;
}

#introFrom {
    -fx-fill: white;
}

#introTo {
    -fx-fill: yellow;
}

#introFrom .text {
    -fx-stroke: white;

}

HBox {
    -fx-alignment: center;
    -fx-padding: 1;
}

#focus {
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-width: 2;
    -fx-border-color: rgba(200, 200, 200, 0.7);
    -fx-alignment: center;
    -fx-padding: 5;
    -fx-min-height: 80px;
    -fx-max-height: 80px;
    -fx-max-width: 110px;
    -fx-min-width: 110px;
}

#level_select {
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-padding: 10 -20 10 10;
    -fx-background-radius: 50;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 50;
}
#prof_menu {
    -fx-font-size: 30;
    -fx-alignment: center;
    -fx-padding: 10;
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-background-radius: 50;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 50;
    -fx-scale-y: 0.9;
    -fx-pref-width: 500;
}

#vBox_menu {

    -fx-alignment: center;
    -fx-padding: 10;
    -fx-min-height: 400px;
    -fx-max-height: 400px;
    -fx-max-width: 500px;
    -fx-min-width: 500px;

    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-background-radius: 50;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 50;
}

#vBox_menu .label .text {
    -fx-stroke: blue;
}

#menu {
    -fx-alignment: center;
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-background-radius: 50;
    -fx-padding: 40;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 50;
    -fx-min-width: 300;
    -fx-min-height: 400;
}

#recBG {
    -fx-border-radius: 30;
    -fx-border-color: gray;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 30;
}

#bar {
    -fx-background-color: blue;
    -fx-background-radius: 50;
    -fx-border-color: darkblue;
    -fx-border-radius: 50;
}

#baseBar {
    -fx-background-color: white;
    -fx-background-radius: 50;

    -fx-border-color: darkblue;
    -fx-border-radius: 50;
}

#glow:hover {
    -fx-effect: innershadow(three-pass-box, rgba(255, 255, 255, 0.7), 6, 0.0, 0, 2);
}

#label_button {
    -fx-alignment: center;
    -fx-opacity: 1;
    -fx-text-fill: rgb(63, 72, 204);
    -fx-font-size: 65;
    -fx-font-family: "Showcard Gothic";
    -fx-effect: innershadow(three-pass-box, rgba(255, 255, 255, 0.7), 6, 0.0, 0, 2);
}

#label_button_small {
    -fx-opacity: 1;
    -fx-text-fill: rgb(63, 72, 204);
    -fx-font-size: 23;
    -fx-font-family: "Showcard Gothic";
    -fx-effect: innershadow(three-pass-box, rgba(255, 255, 255, 0.7), 6, 0.0, 0, 2);
}

#label_button_small .text {

    -fx-stroke-width: 0;
    -fx-stroke: transparent;
}

#label_button .text {
    -fx-stroke-width: 0;
    -fx-stroke: transparent;
}

#label_button:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-effect: innershadow(three-pass-box, rgba(255, 255, 255, 0.7), 6, 0.0, 0, 2);
}

#label_button_small:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

#chat_scroll_pane {
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-border-width: 5;
    -fx-border-color: rgba(200, 200, 200, 0.5);
}

#reply {
    -fx-scale-x: 0.7;
    -fx-scale-y: 0.7;
    -fx-background-color: rgba(150, 150, 150, 0.5);
    -fx-background-radius: 30;
}

#finish {
    -fx-text-alignment: center;
    -fx-font-size: 50px;
}

#finish .text {
    -fx-stroke: green;
    -fx-stroke-width: 2px;
}

#finish2 {
    -fx-text-alignment: center;
    -fx-font-size: 50px;
}

#finish2 .text {
    -fx-stroke: red;
    -fx-stroke-width: 2px;
}




.scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: rgba(50,50,50,0.8);
    -fx-border-color: rgba(180,180,180,1);
    -fx-border-width: 2;
    -fx-border-radius: 5em;
    -fx-background-radius: 5em;
}


