.label {
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-font-family: "Comic Sans MS";
}

.label .text {
    -fx-stroke: green;
    -fx-stroke-width: 1px;
}

#buyAnimal {
    -fx-padding: 5;
    -fx-text-alignment: center;
    -fx-text-fill: white;
    -fx-font-size: 11;
    -fx-font-family: "Comic Sans MS";
}

#buyAnimal .text {
    -fx-alignment: center;
    -fx-stroke: #F0E68C;
    -fx-stroke-width: 1px;
}

#gold {
}

#gold .text{
    -fx-stroke: yellow;
    -fx-stroke-width: 1px;
}


HBox {
    -fx-alignment: center;
    -fx-padding: 1;
}

VBox {
    -fx-background-color: black;
    -fx-opacity: 0.7;
    -fx-background-radius: 30;
    -fx-alignment: center;
    -fx-padding: 1;
    -fx-min-height: 80px;
    -fx-max-height: 80px;
    -fx-max-width: 110px;
    -fx-min-width: 110px;
}


#label_button:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

#label_button {
    -fx-effect: innershadow(three-pass-box, rgba(200, 200, 0, 0.7), 6, 0.0, 0, 2);
}

#finish {
    -fx-text-alignment: center;
    -fx-font-size: 50px;
}
#finish .text{
    -fx-stroke: green;
    -fx-stroke-width: 2px;
}

#finish2 {
    -fx-text-alignment: center;
    -fx-font-size: 50px;
}
#finish2 .text{
    -fx-stroke: red;
    -fx-stroke-width: 2px;
}




