.label {
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-font-family: "Comic Sans MS";
}

#label_button:hover{
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}
#label_button{
    -fx-effect: innershadow( three-pass-box , rgba(255,255,0,0.7) , 6, 0.0 , 0 , 2 )


}